.container {
  text-align: center; }

.taskInput {
  width: 25%;
  float: left;
  padding-bottom: 25px;
  border-right: black solid 1px;
  border-bottom: black solid 1px; }

.formItem {
  width: 90%;
  padding-bottom: 10px; }

.taskList {
  width: 50%;
  margin: 50px auto;
  display: inline-block; }

.complete {
  text-decoration: line-through;
  font-style: italic; }

.task {
  width: 90%;
  list-style-type: none;
  color: white;
  border: 1px solid #1C71EF;
  background-color: #6FC0EC;
  padding: 5px;
  padding-left: 15px;
  padding-right: 0;
  margin: 5px;
  margin-right: 0;
  border-radius: 5px;
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  position: relative; }

.completediv {
  background-color: #cacaca; }

.taskText {
  width: 82.5%;
  display: inline-block; }

.taskDate {
  width: 17.5%;
  display: inline-block; }

.delete {
  color: black;
  position: absolute;
  top: 20px;
  right: -30px; }

.delete:hover {
  border: black 1px solid; }

.deleted {
  visibility: hidden; }
