.container {
  text-align: center;
}

.taskInput {
  width: 25%;
  float: left;
  padding-bottom: 25px;
  border-right: black solid 1px;
  border-bottom: black solid 1px;
}

.formItem {
  width: 90%;
  padding-bottom: 10px;
}


.taskList {
  width: 40%;
  margin: 50px auto;
  display: inline-block;
}

.complete {
  text-decoration: line-through;
  font-style: italic;
}

.task {
  width: 100%;
  list-style-type: none;
  color: white;
  border: 1px solid #1C71EF;
  background-color: #6FC0EC;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: left;
}

.completediv {
  background-color: #cacaca;
}

.taskText {
  width: 70%;
  display: inline-block;
}

.taskDate {
  width: 30%;
  display: inline-block;
  clear: both;

}
